<table
	main_menu="BeardLibMainMenu"
	localization_dir="$ModPath$Localization"
	maps_dir="Maps"
	hooks_dir="$ModPath$Hooks/"
	modules_dir="$ModPath$Modules/"
	classes_dir="$ModPath$Classes/"
	assets_dir="$ModPath$Assets/"
	image="guis/textures/beardlib_logo"
	color="Color(0.8,0.8,0.8)"
	auto_image_color="true"
	mod_override_dir="assets/mod_overrides/">
	<load_modules>
		<AssetUpdates id="14924" version="3.32" provider="modworkshop" use_local_dir="true" use_local_path="true" important="true"/>
		<AddFiles directory="Assets">
			<unit path="core/units/run_sequence_dummy/run_sequence_dummy" force_if_not_loaded="true"/>
			<object path="core/units/run_sequence_dummy/run_sequence_dummy" force_if_not_loaded="true"/>
			<sequence_manager path="core/units/run_sequence_dummy/run_sequence_dummy" force_if_not_loaded="true"/>
			<physic_effect path="physic_effects/push_sphere" force_if_not_loaded="true"/>
			<unit path="core/units/cubemap_gizmo/cubemap_gizmo" force_if_not_loaded="true"/>
			<object path="core/units/cubemap_gizmo/cubemap_gizmo" force_if_not_loaded="true"/>
			<model path="core/units/cubemap_gizmo/cubemap_gizmo" force_if_not_loaded="true"/>
			<cooked_physics path="core/units/cubemap_gizmo/cubemap_gizmo" force_if_not_loaded="true"/>
			<texture path="guis/textures/menu_ui_icons"/>
			<texture path="guis/textures/beardlib_logo"/>
		</AddFiles>
		<Options build_menu="false" auto_load="true">
			<options>
				<option name="ShowImages" type="boolean" default_value="true"/>
				<option name="MenuColor" type="color" default_value="Color(0, 0.25, 1)"/>
				<option name="ImportantNotice" type="boolean" default_value="true"/>
				<option name="DevMode" type="boolean" default_value="false"/>
				<option name="DisabledMods" type="table">
					<default_value/>
				</option>
			</options>
		</Options>	
		<Hooks directory="Hooks">
			<hook source_file="lib/units/beings/player/huskplayermovement" file="NetworkHooks.lua"/>
			<hook source_file="lib/units/beings/player/playerinventory" file="NetworkHooks.lua"/>
			
			<hook source_file="lib/units/weapons/newraycastweaponbase" file="NetworkHooks.lua"/>
			<hook source_file="lib/network/handlers/unitnetworkhandler" file="NetworkHooks.lua"/>
			
			<hook source_file="lib/network/base/handlers/connectionnetworkhandler" file="Fixes.lua"/>
			<hook source_file="core/lib/managers/menu/items/coremenuitemslider" file="Fixes.lua"/>
			<hook source_file="core/lib/managers/coresoundenvironmentmanager" file="Fixes.lua"/>
			<hook source_file="lib/managers/mission/elementvehiclespawner" file="Fixes.lua"/>
			<hook source_file="lib/managers/mission/elementinteraction" file="Fixes.lua"/>
			<hook source_file="core/lib/managers/mission/coreelementinstance" file="Fixes.lua"/>
			<hook source_file="lib/units/beings/player/playermovement" file="Fixes.lua"/>
			<hook source_file="lib/units/beings/player/playerdamage" file="Fixes.lua"/>
			<hook source_file="lib/units/weapons/raycastweaponbase" file="Fixes.lua"/>
			<hook source_file="lib/managers/menu/crewmanagementgui" file="Fixes.lua"/>
			<hook source_file="lib/managers/weaponfactorymanager" file="Fixes.lua"/>
			<hook source_file="lib/managers/blackmarketmanager" file="Fixes.lua"/>
			<hook source_file="lib/managers/dialogmanager" file="Fixes.lua"/>
			<hook source_file="lib/network/base/networkpeer" file="Fixes.lua"/>
			<hook source_file="lib/states/ingamewaitingforplayers" file="Fixes.lua"/>

			<hook source_file="lib/setups/setup" file="OtherHooks.lua"/>
			<hook source_file="lib/setups/gamesetup" file="OtherHooks.lua"/>
			<hook source_file="lib/tweak_data/tweakdata" file="OtherHooks.lua"/>
			<hook source_file="lib/tweak_data/tweakdatapd2" file="OtherHooks.lua"/>
			<hook source_file="lib/managers/missionmanager" file="OtherHooks.lua"/>

			<hook source_file="core/lib/managers/viewport/environment/coreenvironmentmanager" file="EnvironmentManager.lua"/>
			<hook source_file="lib/network/matchmaking/networkmatchmakingsteam" file="NetworkMatchmakingSteam.lua"/>
			<hook source_file="core/lib/utils/dev/editor/coreworlddefinition" file="CoreWorldDefinition.lua"/>
			<hook source_file="lib/managers/menu/menucomponentmanager" file="BeardLibModsMenuButton.lua"/>
			<hook source_file="lib/network/base/clientnetworksession" file="ClientNetworkSession.lua"/>
			<hook source_file="lib/managers/gameplaycentralmanager" file="GamePlayCentralManager.lua"/>
			<hook source_file="core/lib/managers/coresequencemanager" file="CoreSequenceManager.lua"/>
			<hook source_file="lib/managers/menu/scrollablepanel" file="ScrollablePanel.lua"/>
			<hook source_file="lib/managers/systemmenumanager" file="SystemMenuManager.lua"/>
			<hook source_file="lib/managers/crimenetmanager" file="CrimeNetManager.lua"/>
			<hook source_file="lib/network/base/networkpeer" file="NetworkPeer.lua"/>
			<hook source_file="lib/managers/musicmanager" file="MusicManager.lua"/>
			<hook source_file="lib/managers/menumanager" file="MenuManager.lua"/>
			<hook source_file="lib/managers/menu/menuinput" file="MenuInput.lua"/>
			<hook source_file="lib/managers/killzonemanager" file="KillzoneManager.lua"/>
			<hook source_file="lib/managers/blackmarketmanager" file="BlackMarketManager.lua"/>
		</Hooks>
	</load_modules>
	<classes>
		<class file="Utils/Utils.lua"/>
		<class file="Utils/Table.lua"/>
		<class file="Utils/Path.lua"/>
		<class file="Utils/String.lua"/>
		<class file="Utils/Math.lua"/>
		<class file="Utils/Input.lua"/>
		<class file="Utils/Hooks.lua"/>
		<class file="ModCore.lua"/>
		<class file="CustomPackageManager.lua"/>
		<class file="CustomSoundManager.lua" manager="sound"/>
		<class file="MixedSoundSource.lua"/>
		<class file="Utils/TweakDataHelper.lua"/>
		<class file="ModManager.lua"/>
		<class file="FileManager.lua" manager="File"/>
		<class file="FrameworkBase.lua" manager="BaseFramework"/>
		<class file="MapFramework.lua" manager="MapFramework"/>
		<class file="AddFramework.lua" manager="AddFramework"/>
		<class file="Menu/MenuUIManager.lua" manager="menu_ui"/>
		<class file="Menu/MenuUI.lua"/>
		<class file="Menu/TextBoxBase.lua"/>
		<class file="Menu/ContextMenu.lua"/>
		<class file="Menu/Item.lua"/>
		<class file="Menu/Menu.lua"/>
		<class file="Menu/MenuAlignMethods.lua"/>
		<class file="Menu/KeyBind.lua"/>
		<class file="Menu/Group.lua"/>
		<class file="Menu/NoteBook.lua"/>
		<class file="Menu/PopupMenu.lua"/>
		<class file="Menu/ImageButton.lua"/>
		<class file="Menu/Toggle.lua"/>
		<class file="Menu/ComboBox.lua"/>
		<class file="Menu/Slider.lua"/>
		<class file="Menu/TextBox.lua"/>
		<class file="Menu/ColorTextBox.lua"/>
		<class file="Dialogs/MenuDialog.lua"/>
		<class file="Dialogs/FileBrowserDialog.lua"/>
		<class file="Dialogs/ColorDialog.lua"/>
		<class file="Dialogs/ListDialog.lua"/>
		<class file="Dialogs/InputDialog.lua"/>
		<class file="Dialogs/SelectListDialog.lua"/>
		<class file="Dialogs/SimpleListDialog.lua"/>
		<class file="Dialogs/DownloadDialog.lua"/>
		<class file="Dialogs/SimpleSelectListDialog.lua"/>
		<class file="Utils/MenuHelperPlus.lua"/>
		<class file="Utils/JSON.lua"/>
		<class file="Utils/XML.lua"/>
		<class file="Utils/Builders.lua"/>
		<class file="ModAssetUpdateManager.lua" manager="asset_update"/>
		<class file="ModuleBase.lua"/>
		<class file="Dialogs/MenuDialogManager.lua" manager="dialog"/>
		<class file="BeardLibModsMenu.lua" manager="mods_menu"/>
		<class file="WeaponSkinExtension.lua"/>
	</classes>
	<script_data_types>
		<value_node value="sequence_manager"/>
		<value_node value="environment"/>
		<value_node value="menu"/>
		<value_node value="continent"/>
		<value_node value="continents"/>
		<value_node value="mission"/>
		<value_node value="nav_data"/>
		<value_node value="cover_data"/>
		<value_node value="world"/>
		<value_node value="world_cameras"/>
		<value_node value="prefhud"/>
		<value_node value="objective"/>
		<value_node value="credits"/>
		<value_node value="hint"/>
		<value_node value="comment"/>
		<value_node value="dialog"/>
		<value_node value="dialog_index"/>
		<value_node value="timeline"/>
		<value_node value="action_message"/>
		<value_node value="achievment"/>
		<value_node value="controller_settings"/>
		<value_node value="network_settings"/>
		<value_node value="physics_settings"/>
	</script_data_types>
	<file_types>
		<value_node value="achievment"/>
		<value_node value="action_message"/>
		<value_node value="animation"/>
		<value_node value="animation_def"/>
		<value_node value="animation_state_machine"/>
		<value_node value="animation_states"/>
		<value_node value="animation_subset"/>
		<value_node value="atom_batcher_settings"/>
		<value_node value="banksinfo"/>
		<value_node value="bmfc"/>
		<value_node value="bnk"/>
		<value_node value="bnkinfo"/>
		<value_node value="camera_shakes"/>
		<value_node value="cameras"/>
		<value_node value="cgb"/>
		<value_node value="comment"/>
		<value_node value="continent"/>
		<value_node value="continents"/>
		<value_node value="controller_settings"/>
		<value_node value="cooked_physics"/>
		<value_node value="cover_data"/>
		<value_node value="credits"/>
		<value_node value="decals"/>
		<value_node value="dialog"/>
		<value_node value="dialog_index"/>
		<value_node value="diesel_layers"/>
		<value_node value="effect"/>
		<value_node value="environment"/>
		<value_node value="font"/>
		<value_node value="gui"/>
		<value_node value="hint"/>
		<value_node value="idstring_lookup"/>
		<value_node value="light_intensities"/>
		<value_node value="lua"/>
		<value_node value="massunit"/>
		<value_node value="material_config"/>
		<value_node value="menu"/>
		<value_node value="merged_font"/>
		<value_node value="mission"/>
		<value_node value="model"/>
		<value_node value="movie"/>
		<value_node value="nav_data"/>
		<value_node value="network_settings"/>
		<value_node value="object"/>
		<value_node value="objective"/>
		<value_node value="physic_effect"/>
		<value_node value="physics_settings"/>
		<value_node value="post_processor"/>
		<value_node value="prefhud"/>
		<value_node value="render_config"/>
		<value_node value="render_template_database"/>
		<value_node value="scene"/>
		<value_node value="scenes"/>
		<value_node value="sequence_manager"/>
		<value_node value="sfap0"/>
		<value_node value="shaders"/>
		<value_node value="stream"/>
		<value_node value="strings"/>
		<value_node value="texture"/>
		<value_node value="texture_channels"/>
		<value_node value="tga"/>
		<value_node value="unit"/>
		<value_node value="world"/>
		<value_node value="world_cameras"/>
		<value_node value="world_setting"/>
		<value_node value="world_sounds"/>
		<value_node value="xbox_live"/>
		<value_node value="xml"/>
	</file_types>
	<script_data_formats>
		<value_node value="json"/>
		<value_node value="xml"/>
		<value_node value="generic_xml"/>
		<value_node value="custom_xml"/>
		<value_node value="binary"/>
	</script_data_formats>
	<mission_elements>
		<value_node value="MoveUnit"/>
		<value_node value="RotateUnit"/>
		<value_node value="Environment"/>
		<value_node value="PushInstigator"/>
		<value_node value="CustomSound"/>
		<value_node value="ExecuteWithCode"/>
		<value_node value="OverrideInstigator"/>
		<value_node value="XAudio"/>
	</mission_elements>
</table>
